<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charaset="UTF-8">
  <title>一覧画面</title>
  <!--ここにCSSを入れる-->
</head>

<body>
  <div>
    <table>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td>タイトル</td>
        <td>
          <input type="text">
        </td>
        <td>
          <input type="radio" name="title_search" value="0"　checked="checked">一致
          <input type="radio" name="title_search" value="1">含む
        </td>

      </tr>
    </table>
  </div>
</body>
